.input-form{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

.form-1 input, .form-2 input, select,#gender , #service {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 2px solid #BE3455;
    color: #BE3455;
}

label, #gender , #service{
    color:#BE3455 ;
}