.Navbar-home {
    position: fixed;
    top: 0px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../assets/background-home.png');
    background-repeat: no-repeat;
}

.element-Nav {
    display: flex;
    padding: 1em;
}

.btn-nav-list{
    margin-right: 2px;
}
.btn-nav-connexion{
    margin-right: 2px;
}

span{
    color: #BE3455;
}