.Navbar-home {
    position: fixed;
    z-index: 1000;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-image: url('../assets/background-home.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

h1{
    font-size: 5em;
}

.element-Nav {
    padding: 1em;
}


span{
    color: #BE3455;
}


@media only screen and (max-width: 425px){

    .Navbar-home {
        position: fixed;
        z-index: 1000;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 100%; */
        height: 30vh;
        background-image: url('../assets/background-home.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .Navbar-home h1 {
        font-size: 2em;
    }

}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 80px;
}

.icon-profil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}